@using Orderbox.Core
@using Framework.Core.Resources
@using Framework.Application.Presentation.HtmlHelperExtensions
@using Orderbox.Mvc.Infrastructure.ServerUtility.Identity
@using Orderbox.Core.Resources.Common
@using Orderbox.Core.SystemCode
@{
    ViewData["Title"] = "Order Management";
    Layout = $"{this.User.Identity.GetRole()}Layout/_Layout";
}
@model string

<div page class="content-page">
    <main class="container my-4 flex-fill">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-auto">
                    <div class="page-pretitle">
                        List
                    </div>
                    <h2 class="page-title">
                        Order
                    </h2>
                </div>
            </div>
        </div>
        <div class="row row-deck">
            <div class="col-12">
                <div class="card">
                    @{
                        var statusList = @OrderStatusCode.Item.ToDictionary();
                        var entries = statusList.Select(d => "{\"id\": \"" + d.Key + "\", \"text\": \"" + string.Join(",", d.Value) + "\"}");
                        var statusListJson = "[{\"id\":\"\", \"text\": \"\"}," + string.Join(",", entries) + "]";

                    }
                    <table grid
                           class="table table-striped table-hover bootgrid-table"
                           data-url="/Order/PagedSearchGridJson"
                           data-status-list="@statusListJson"
                           data-edit-url="/Order/View"
                           id="order">
                        <thead>
                            <tr>
                                <th data-column-id="id" data-formatter="Edit" data-header-css-class="w-10-custom">@OrderResource.OrderNumber</th>
                                <th data-column-id="buyerName" data-formatter="BuyerName">@OrderResource.BuyerName</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </main>
</div>

@section scripts {
    <script defer type="text/javascript">
        window.addEventListener('DOMContentLoaded', function () {
            var page = new OrderIndex.default($('[page]'), "@Model");
            page.register();
        });
    </script>
}