@using Framework.Application.Presentation
@using Framework.Core.Resources
@using Framework.Application.Presentation.HtmlHelperExtensions
@model Orderbox.Mvc.Areas.Agent.Models.City.EditModel
@{
    ViewData["Title"] = "Merchant Business Operation";
}

<div page class="content-page">
    <main class="container my-4 flex-fill">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-auto">
                    <div class="page-pretitle">
                        Edit
                    </div>
                    <h2 class="page-title">
                        City
                    </h2>
                </div>
            </div>
        </div>
        <div class="row row-deck">
            <div class="col-12">
                @using (Html.BeginForm("Edit", "City", FormMethod.Post, new
                    {
                        data_delete_url = Url.Action("Delete", "City", new { area = "Agent", id = Model.Id }),
                        data_delete_confirmation_message = GeneralResource.General_DeleteConfirmationMessage,
                        data_delete_warning = GeneralResource.General_DeleteWarning,
                        data_custom_delete_yes_button = GeneralResource.General_YesDeleteIt,

                    }))
                {
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">City Detail</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    @Html.HiddenFor(model => model.Id)
                                    @Html.TextEditorFor(model => model.Name, "mb-2")
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            @Html.ButtonWithLabel(
                                string.Format("<i class='fa fa-save mr-1'></i> {0}", GeneralResource.General_Update),
                                buttonType: PresentationConstant.ButtonType.Submit,
                                id: "btn-save",
                                cssClass: "btn-primary")

                            @if(!Model.HasStore)
                            {
                                @Html.ButtonWithLabel(
                                  string.Format("<i class='fa fa-trash mr-1'></i> {0}", GeneralResource.General_Delete),
                                  buttonType: PresentationConstant.ButtonType.Button,
                                  id: "btn-delete",
                                  cssClass: "btn-danger")
                            }

                            @Html.LinkButtonWithLabel(
                                string.Format("<i class='fa fa-remove mr-1'></i> {0}", GeneralResource.General_Cancel),
                                id: "link-cancel",
                                cssClass: "btn-link",
                                href: $"/Agent/Country/Edit/{Model.CountryId}")
                        </div>
                    </div>
                }
            </div>
        </div>
    </main>
</div>

@section scripts {
    <script defer type="text/javascript">
        window.addEventListener('DOMContentLoaded', function () {
            var page = new AgentCityEdit.default($('[page]'));
            page.register();
        });
    </script>
}